*{
 margin:0px;
 padding: 0px;
 box-sizing: border-box;
}
body{
 justify-content: center;
 display: block;
 font-size: x-large;
 font-family:'Poppins';
 font-weight: 600;
 padding: 20px;
 margin: 10px;
 background-color:hsl(0, 1%, 44%);
 padding-right: 30px;
}

.page{
 background-color:  hsl(0, 0%, 100%);
 padding:30px;
 margin: 2px;
 text-align: center;
 border-radius: 15px 15px 70px 15px;
}
.top{
 display: flex;
 column-gap: 0.6em;
text-align: left;
padding-bottom: 30px;

}

.btn i{
 font-size: 70px;
 box-shadow: none;
text-align: center;
border-radius: 50%;
}
.btn{
 background-color:  hsl(259, 100%, 65%); 
 color:  hsl(0, 0%, 94%);
  border-radius: 50%;
  padding: 1px; 
  cursor: pointer;
  border: 0.0px solid  hsl(259, 100%, 65%); 
}
.btn :hover{
  color: hsl(259, 100%, 65%);
  background-color: hsl(0, 0%, 94%);
}

.down{
 display: grid;
 justify-content: left;
 font-weight: 800;
 font-size: 4.5rem;
 font-family: Arial, Helvetica, sans-serif;
 font-style: initial;
 padding-top:20px ;
 
}

.down span{
   color: hsl(259, 100%, 65%); 
   text-align: justify;
   display: flex;
}
.down span p{
  color:  hsl(0, 0%, 8%);
}

#day-input input{
 font-size: 32px;
 text-align: center;
 width: 7rem;
 font-family: sans-serif;
 font-weight: 700;
 border-radius: 10px;
}
#day-input{
  color:hsl(0, 1%, 44%) ;
}
#month-input{
  color:hsl(0, 1%, 44%) ;
}
#year-input{
  color:hsl(0, 1%, 44%) ;
}
#month-input input{
 font-size: 32px;
 text-align: center;
 width: 7rem;
 font-family: sans-serif;
 font-weight: 700;
 border-radius: 10px;
}
#year-input input{
 font-size: 32px;
 text-align: center;
 width: 7rem;
 font-family: sans-serif;
 font-weight: 700;
 border-radius: 10px;
}
.day-error{
  display: block;
 font-size: 0.4em;
 color:  hsl(0, 100%, 67%);
 font-weight: lighter;
 font-style: italic;
}
.month-error{
  display: block;
 font-size: 0.4em;
 color:  hsl(0, 100%, 67%);
 font-weight: lighter;
 font-style: italic;
}
.year-error{
  display: block;
 font-size: 0.4em;
 color:  hsl(0, 100%, 67%);
 font-weight: lighter;
 font-style: italic;
}
#day-input ::placeholder{
 color: hsl(0, 0%, 8%);
 font-weight: lighter;
}
#month-input ::placeholder{
 color: hsl(0, 0%, 8%);
 font-weight: lighter;
}
#year-input ::placeholder{
 color: hsl(0, 0%, 8%);
 font-weight: lighter;
}

 @media screen and (min-width:685px ){
body{
  background-color:hsl(0, 1%, 70%);
  display: row;
  text-align: center;
  justify-content: center;
 font-weight: 700;
 padding: 20px;
 margin: 20px;
 padding-right: 40px;
}
.page{
  display: grid;
   justify-content: center;
  text-align: center;
  
}
#day-input input{
 width: 11rem;
 font-weight: 800;
}
#month-input input{
width: 11rem;
 font-weight: 800;
}
#year-input input{
width: 11rem;
 font-weight: 800;
}
.btn{
 background-color:  hsl(259, 100%, 65%); 
 color:  hsl(0, 0%, 94%);
  border-radius: 50%;
  padding: 1px; 
  cursor: pointer;
  text-align: right;
  float: right;
  margin-top: 10px; 
}
.line{
  border-bottom-style: solid;
border-bottom-color:hsl(0, 1%, 44%);
border-width: 0.1px;
}
.day-error{
  display: block;
 font-size: 0.6em;
 
}
.month-error{
   display: block;
 font-size: 0.6em;

}
.year-error{
  display: block;
 font-size: 0.5em;
}
#day-input {
  display: grid;
  
}
#month-input {
  display: grid;
}
#year-input {
  display: grid;
  
}
}
